@tailwind base;
@tailwind components;
@tailwind utilities;

.message-column {
  min-width: 300px; /* Set a minimum width */
  width: 50%; /* Or specify a percentage width */
}
.tableStyle{
margin-left: -40vh;
}